
<div class="d-flex w-100 h-100" style="background-color: #080710">

  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>


  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <label class="text-white" for="username">Usuario</label>
    <input type="text"
           formControlName="userName"
           class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }"
           placeholder="Email or Phone"
           id="username">
    <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
      <div *ngIf="f.userName.errors.required">Usuario es Requerido</div>
    </div>

    <label  class="text-white"  for="password">Contraseña</label>
    <input type="password"
           formControlName="password"
           placeholder="Password" id="password">
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Contraseña es requerida</div>
    </div>

    <button
      [disabled]="registerForm.invalid"
      class="btn btn-primary mt-3 w-100 p-3">
      <span class="text-white font-weight-bold">Iniciar sesión</span>
    </button>

  </form>

</div>






